.line li{
    display: inline-block;
    list-style-type: none;
    background-color: palevioletred;
    margin: 10px;
    padding: 10px;
}
.links a{
    display: block;
    background-color: blue;
    color: azure;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    width: 300px;
}
.blocks{
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocks .non{
    display: none;
}
.blocks div{
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 57, 57);
}
.links-markers{
    margin: 50px;
}
.links-markers a{
    display: list-item;
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 10px;
    width: 400px;
}
.image{
    background: url(../../../img/weather-sun.jpg);
    width: 100px;
    height: 100px;
    border: 3px dashed red;
}
.post1 .image{
    float: left;
    margin-right: 10px;
}
.post2 .image{
    float: right;
}
.post1{
    background-color: #930303;
    color: azure;
    padding: 10px;
}
.post2{
    background-color: #930303;
    color: azure;
    padding: 10px;
}
.content div{
    display: inline-block;
    margin: 20px;
    
}